extends dashb_layout

block dashb
    include group_menu
    //.content-card
    .section
        .four_w.card-holder.card-border-radius
            .todo_header
                b TODO
        .four_w.card-holder.card-border-radius
            .todo_header
                b IN PROGRESS
        .four_w.card-holder.card-border-radius
            .todo_header
                b IN REVIEW
        .four_w.card-holder.card-border-radius
            .todo_header 
                b FINISHED


    .section
        .four_w.card-holder
            .todo_card
                .uk-label.uk-label-success
                    | Important
                .todo_desc
                    | Description
                .todo_footer
                    .todo_btn.todo_check
                        span(uk-icon='icon: check')
                    .todo_btn.todo_close
                        span(uk-icon='icon: close')
                    .date-info 2018


        .four_w.card-holder
            .todo_card
                .uk-label.uk-label-success
                    | Important
                .todo_desc
                    | Description
                .todo_footer
                    .todo_btn.todo_check
                        span(uk-icon='icon: check')
                    .todo_btn.todo_close
                        span(uk-icon='icon: close')
                    .date-info 2018

        .four_w.card-holder
            .todo_card
                .uk-label.uk-label-success
                    | Important
                .todo_desc
                    | Description
                .todo_footer
                    .todo_btn.todo_check
                        span(uk-icon='icon: check')
                    .todo_btn.todo_close
                        span(uk-icon='icon: close')
                    .date-info 2018
                    
            .todo_card
                .uk-label.uk-label-success
                    | Important
                .todo_desc
                    | Description
                .todo_footer
                    .todo_btn.todo_check
                        span(uk-icon='icon: check')
                    .todo_btn.todo_close
                        span(uk-icon='icon: close')
                    .date-info 2018

        .four_w.card-holder
            .todo_card
                .uk-label.uk-label-success
                    | Important
                .todo_desc
                    | Description
                .todo_footer
                    .todo_btn.todo_check
                        span(uk-icon='icon: check')
                    .todo_btn.todo_close
                        span(uk-icon='icon: close')
                    .date-info 2018