extends dashb_layout

block dashb
    include dashb_menu
    //.content-card
    .section
        .card-holder.full_w
            .uk-card.uk-card-default.uk-card-body
                | Page

    .section
        if groups != null
            for item, i in groups
                .card-holder.three_w
                    - var url = '/grouproom/'+item.groupid
                    a(href=url)
                        .uk-card.uk-card-default.uk-card-hover.uk-card-body.card-height.uk-padding-small
                            .card-body.smooth
                                .uk-card-title #{item.groupname}
                                .uk-margin #{item.school}
                                .uk-margin
                                    progress.uk-progress(value='10' max='100')
                            .card-footer
                                .date-info 
                                    | date


    if (alert == 'registered')
        script.
            UIkit.notification({message: 'Already Registered', status: 'primary', pos: 'top-center'})

    if (alert == 'error')
        script.
            UIkit.notification({message: 'Something went wrong, try again', status: 'warning', pos: 'top-center'})

    if (alert == 'invalidid')
        script.
            UIkit.notification({message: 'Invalid groupID, makesure you enter the correct groupID', status: 'danger', pos: 'top-center'})
