
extends header

block content
    .app-menu
        .app-nav-left
            .app-logo(uk-toggle='target: #dashb_menu')
                i(data-feather='menu' style='width:34px; height:34px;')
            .app-name
                | #{title}

        .app-nav-right.smooth
            .app-logo
                - var src = 'data:image/svg+xml;utf8,'+udata.uimg
                img(src=src)
            .app-name
                | #{udata.name}
            a(href='/signout')
                .app-nav-title
                    i(data-feather='log-out' style='width:20px; height:20px;')

    .app-content
        block dashb