#dashb_menu(uk-offcanvas='overlay: true')
    .uk-offcanvas-bar
        i(data-feather='x' style='width:20px; height:20px;' uk-close)

        .uk-column-1-1
            - var src = 'data:image/svg+xml;utf8,'+udata.uimg
            img(src=src, width=100, height=100)

        h4.side_bar_content #{udata.name}
        
        .uk-nav.uk-nav-default.tm-nav.uk-nav-parent-icon
            li.uk-nav-header Navigation
            a(href='/dashboard')
                li.nav-selected.smooth
                    i(data-feather='home' style='width:20px; height:20px;')
                    span.uk-text-middle  Home

            a(href='/groups')
                li.nav-selected.smooth
                    i(data-feather='grid' style='width:20px; height:20px;')
                    span.uk-text-middle  Group Manage

            a(href='/calendar')
                li.nav-selected.smooth
                    i(data-feather='calendar' style='width:20px; height:20px;')
                    span.uk-text-middle  Calendar

            a(href='/settings')
                li.nav-selected.smooth
                    i(data-feather='settings' style='width:20px; height:20px;')
                    span.uk-text-middle  User Settings
