#dashb_menu(uk-offcanvas='overlay: true')
    .uk-offcanvas-bar
        button.uk-offcanvas-close(type="button" uk-close)
        .uk-column-1-1
            - var src = 'data:image/svg+xml;utf8,'+udata.uimg
            img(src=src, width=100, height=100)

        h4.side_bar_content #{udata.name}

        .uk-nav.uk-nav-default.tm-nav.uk-nav-parent-icon
            li.uk-nav-header Navigation
            a(href='/dashboard')
                li.nav-selected.smooth
                    span.uk-margin-small-right.uk-icon(uk-icon='icon: home')
                    span.uk-text-middle Home

            a(href='/calendar')
                li.nav-selected.smooth
                    span.uk-margin-small-right.uk-icon(uk-icon='icon: calendar')
                    span.uk-text-middle Calendar

            a(href='/settings')
                li.nav-selected.smooth
                    span.uk-margin-small-right.uk-icon(uk-icon='icon: cog')
                    span.uk-text-middle User Settings
