extends index_header

block content
    include index_menu
    script(src='/js/fb_signin.js')

    .app-content
        .signup-content
            .uk-card.uk-card-default.uk-card-body
                    .uk-card-title
                        | SIGN IN 

                    form.uk-grid-small(method='POST', action='/user_signin')
                        .uk-margin
                            .uk-width-1-1
                                label.text-label(for='strEmail') Email:
                                input.uk-input(name='strEmail', type='email', required)
                            .uk-margin
                                label.text-label(for='strPassw') Re-Enter Password:
                                input.uk-input(name='strPassw', type='password', required)
                                input(type='hidden', value='form-auth', name='auth_method')
                            .uk-margin
                                .uk-text-right
                                    button.uk-button.uk-button-primary(name='btnSigin', type='submit') SIGN IN

                                    a(href='/signup')
                                        button.uk-button.uk-button-default(type='button') SIGN UP

                    #firebase-auth-container

                    //Alert the user
                    if (alert == 'passw')
                        .uk-margin
                            .uk-alert-warning(uk-alert)
                                a.uk-alert-close(uk-close)
                                p Authentication failed, Try Again

                    if (alert == 'notfound')
                        .uk-margin
                            .uk-alert-warning(uk-alert)
                                a.uk-alert-close(uk-close)
                                p User email not found, <a href='/signup'>Sign Up<a>

                    if (alert == 'error')
                        .uk-margin
                            .uk-alert-danger(uk-alert)
                                a.uk-alert-close(uk-close)
                                p Something went wrong, Try Again