extends index_header

block content
    include index_menu
    script(src='/js/fb_signin.js')

    .app-content
        .signup-content
            .uk-card.uk-card-default.uk-card-body
                    .uk-card-title
                        | USER SIGN UP/SIGN IN

                    #firebase-auth-container                    

                    if (alert == 'notfound')
                        .uk-margin
                            .uk-alert-warning(uk-alert)
                                a.uk-alert-close(uk-close)
                                p User email not found, <a href='/signup'>Sign Up<a>

                    if (alert == 'signinerror')
                        .uk-margin
                            .uk-alert-danger(uk-alert)
                                a.uk-alert-close(uk-close)
                                p Signin Error, please try again

                    if (alert == 'signuperror')
                        .uk-margin
                            .uk-alert-danger(uk-alert)
                                a.uk-alert-close(uk-close)
                                p Signup Error, please try again

                    if (alert == 'error')
                        .uk-margin
                            .uk-alert-danger(uk-alert)
                                a.uk-alert-close(uk-close)
                                p Something went wrong, please try again